/* You can add custom styles here. */

// @import "plugins/numbered";
.book-brand {
    span {
        background-color: #097;
        color: white;
    }
}

.book-header {
    strong {
        background-color: #097;
        color: white;
    }
}